# Basics

### Data types and operators

In [1]:
#simple expression
# object    operator    object
x = 8

In [2]:
x

8

In [3]:
x="eman"

In [4]:
x

'eman'

In [5]:
type(x)

str

In [6]:
y=6+1

In [7]:
y

7

In [8]:
type(y)

int

In [9]:
x=True

In [10]:
type(x)

bool

In [11]:
10/4

2.5

In [12]:
9//2

4

In [13]:
9/2

4.5

In [14]:
10//4

2

In [15]:
int(10/4)

2

In [16]:
10-3

7

In [17]:
3%4

3

In [18]:
12%5

2

In [19]:
#excution fron to right
x=2+3*5

In [20]:
x

17

In [21]:
x=(2+3)*5

In [22]:
x

25

In [23]:
pi=3.14

In [24]:
r=2.2

In [25]:
r=2.2+1

In [26]:
r

3.2

In [27]:
r=r+1

In [28]:
r

4.2

In [29]:
4*3

12

In [30]:
2**2

4

### Naming Rules

- variable name should be descriptive

In [31]:
v=0
g=0.5

In [32]:
#should be 
velocity=0
gravity=0.5

- Avoid using python keywords

In [33]:
# like:  And , If , Else , for , Where , is , import

In [34]:
#if=1

- python is case sensitive

In [35]:
a=5

In [36]:
A=4

In [37]:
#A*3

In [38]:
A=2

In [39]:
A*a

10

- python variable shouldn't start with number

In [40]:
#1var=9

- python variable shouldn't contain symbol except _

In [41]:
nu@mbers=9

SyntaxError: can't assign to operator (<ipython-input-41-abeac88379fe>, line 1)

In [133]:
_x=9

In [134]:
_x

9

## Indexing
#### - string indexing

In [135]:
Name = "Indexing"

In [136]:
Name[0]

'I'

In [137]:
Name[1]

'n'

In [138]:
Name[4]

'x'

In [139]:
Name[-1]

'g'

In [140]:
Name[-2]

'n'

In [141]:
Name[0:4]

'Inde'

- ***Name[start:end:step]***

In [142]:
Name[5:]

'ing'

In [143]:
Name[::-1]

'gnixednI'

In [144]:
#indexing
Name[0:8:2]

'Idxn'

### Input function

In [147]:
input()

4

'4'

In [148]:
x=input('enter an integer:')

enter an integer:6

In [149]:
# input function returns string by dafult
type(x)

str

In [150]:
#type conversion
x=int(input('enter an integer:'))

enter an integer:8

In [151]:
type(x)

int

### Logical operators

- \>:Greater than
- <= :Greater than or equal
- < :less than
- = = :is equal to
- != :not equal to

In [152]:
1>2

False

In [153]:
10>=5

True

In [154]:
5!=9

True

In [155]:
a=6

In [156]:
6==a

True

## If condition

In [157]:
i=3

In [158]:
if i in range (1,5):
    print(i)

3

In [160]:
#print if number is even or odd
x= int(input('Enter an integer:'))

Enter an integer:6

In [161]:
if x%2==0:
    print("even")
else:
    print('odd')

even

In [162]:
# if number divisible by 2 or 3
if x%2==0:
    print('divisible by 2')
elif x%3==0:
    print('divisible by 3')

divisible by 2

In [163]:
# if number divisible by 2 and 3
if x%2==0:
    if x%3==0:
        print('divisible by 2 and 3')
    else:
        print('divisible by 2 and not 3')
elif x%3==0:
    print('divisible by 3 and not 2')

divisible by 2 and 3

### while loop

In [164]:
# while (condition):
    #excuted in loop
    #will end when codition is false

In [269]:
n=0
while n<5:
    n=n+1
    print(n)

1
2
3
4
5

In [166]:
i=0
while i<9:
    i+=1
    if i == 3:
        print("Skip this loop")
        continue
# skips the rest of the suite and goes back to testing the expre
    print(i)
else:
    print("loop ends")

1
2
Skip this loop
4
5
6
7
8
9
loop ends

### For loop

In [167]:
# n like counter
for n in range(5):
    print (n)

0
1
2
3
4

In [168]:
#range(start,end)
for i in range(7,11):
    print(i)

7
8
9
10

In [271]:
#range(start,end)
sum=0
for i in range(7,11):
    sum += i
    print(sum)

7
15
24
34

In [170]:
# identation
sum=0
for i in range(7,11):
    sum += i
print(sum)

34

In [272]:
#range(start,end,step)
for i in range(3,16,3):
    print(i)

3
6
9
12
15

In [172]:
#break
sum=0
for i in range(5,10,2):
    sum+=i
    if sum == 5:
        break
print(sum)

5

In [173]:
s="abcdefghi"
for char in s:
    print (char)

a
b
c
d
e
f
g
h
i

## functions

In [174]:
def func():
    print("hello")
    print("world")

In [175]:
func()

hello
world

In [176]:
def sum(a,b):
    return(a+b)

In [177]:
sum(1,5)

6

In [178]:
def pi():
    return 22/7

In [179]:
circ=2*7*pi()

In [180]:
circ

44.0

In [181]:
def fibs(num):
    result=[0,1]
    for i in range(2,num):
        a=result[i-1]+result[i-2]
        result.append(a)
    return result

In [182]:
fibs(5)

[0, 1, 1, 2, 3]

In [183]:
def is_even(x):
    if x%2==0:
        print("even")
    else:
        print('odd')

In [184]:
is_even(9)

odd

In [185]:
is_even(12)

even

## Data strusture

### Lists
- [ ]
- use index to access elements
- Mutable  i can (delete, Add, replace)
- May have different data types

In [186]:
my_list=['one',5,'a',77,'b','num',98]

In [187]:
my_list[0]

'one'

In [188]:
my_list[3]

77

In [189]:
my_list[-1]

98

In [190]:
type(my_list)

list

In [191]:
my_list[1]=2

In [192]:
my_list

['one', 2, 'a', 77, 'b', 'num', 98]

In [193]:
my_list2=[1,'one',77,'a',77,'b','c',98,9]

In [194]:
my_list2[0:2]=[]

In [195]:
my_list2

[77, 'a', 77, 'b', 'c', 98, 9]

In [196]:
my_list2[0]

77

In [197]:
my_list2[0:4]=[55,'aa','77','b',12,6]

In [198]:
my_list2

[55, 'aa', '77', 'b', 12, 6, 'c', 98, 9]

In [264]:
a=[1,2,3,3]
b=[4,5]

In [267]:
print(a+b)  #concatenate a and b
print(a*2)  #double a

[1, 2, 3, 3, 4, 5]
[1, 2, 3, 3, 1, 2, 3, 3]

### List slicing

In [199]:
my_list[2:5]

['a', 77, 'b']

In [200]:
my_list[2:]

['a', 77, 'b', 'num', 98]

In [201]:
my_list[:5]

['one', 2, 'a', 77, 'b']

In [202]:
my_list[::2]

['one', 'a', 'b', 98]

In [203]:
# out of range --> ther's no index=15
my_list[15]

IndexError: list index out of range

In [273]:
len(my_list)

7

In [274]:
my_list

['one', 2, 'a', 77, 'b', 'num', 98]

### append()

In [204]:
friends=["reem","reham","nada"]
friends.append('smsm')

In [205]:
friends

['reem', 'reham', 'nada', 'smsm']

In [207]:
old_friends=['Nour', 'zainab']

In [208]:
friends.append(old_friends)

In [209]:
friends

['reem', 'reham', 'nada', 'smsm', ['Nour', 'zainab']]

In [210]:
friends[4][0]

'Nour'

In [211]:
friends[4][1]

'zainab'

### extend ()

In [275]:
a=[1,2,3,4]
b=[5,6,7,8,9]

In [276]:
a[::-1]

[4, 3, 2, 1]

In [214]:
a.extend(b)

In [215]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### remove()

In [217]:
x=[1,'one',77,'a',77,'b','c',98,9]

In [219]:
x.remove(77)

In [220]:
x

[1, 'one', 'a', 77, 'b', 'c', 98, 9]

### Sort()
- it can't work when list contain strings and integers

In [221]:
a=[10,16,9,5,9,3,1,14,6]

In [222]:
a.sort()

In [223]:
a

[1, 3, 5, 6, 9, 9, 10, 14, 16]

In [224]:
a=[10,16,9,5,9,3,1,14,6]
a.sort(reverse=True)

In [225]:
a

[16, 14, 10, 9, 9, 6, 5, 3, 1]

In [226]:
a=['b','g','f','a','k','h']

In [227]:
a.sort()

In [228]:
a

['a', 'b', 'f', 'g', 'h', 'k']

In [277]:
a=['a',1,2,3]

In [279]:
#a.sort()

### reverse()

In [280]:
a=[1,'h',6,'d',9]

In [281]:
a.reverse()

In [282]:
a

[9, 'd', 6, 'h', 1]

In [283]:
#clear
a.clear()

In [284]:
a

[]

### Tuples
- ( )
- can use index to access elements
- Tuples are immutable
- not unique
- accept different data types

In [233]:
My_tuple=('eman' ,3,5)

In [234]:
My_tuple[1]

3

In [294]:
#tuple does not support item assignment Because it immutable

#My_tuple[1]="eman"

In [238]:
type(My_tuple)

tuple

### concatenation

In [296]:
a=(1,2,3,4)
b=(5,6)

In [240]:
c=a+b
c

(1, 2, 3, 4, 5, 6)

In [297]:
type(a)

tuple

In [243]:
x=("c")
y=("c",)

In [244]:
print(type(x))
print(type(y))

<class 'str'>
<class 'tuple'>

### Dictionary
- { }
- dictionary contain key:element
- key have to be unique
- we can access elements by key
- accept different data types

In [245]:
thisdict = {"brand": "Ford",
            "model": "Mustang",
            "year": 1964}

In [247]:
thisdict ['brand']

'Ford'

In [299]:
#add new key and value
thisdict['type']='a'

In [300]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'type': 'a'}

In [250]:
"brand" in thisdict

True

In [251]:
"Brand" in thisdict

False

In [252]:
del(thisdict['type'])

In [253]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [254]:
thisdict.keys()

dict_keys(['brand', 'model', 'year'])

In [255]:
thisdict.values()

dict_values(['Ford', 'Mustang', 1964])

### **len**() function

In [257]:
len('Hello')

5

In [258]:
student=['eman', 'aya', 'fatima', 'reem']
len(student)

4

In [285]:
s="abcdefghij"

In [286]:
len(s)

10

In [259]:
s="abcdefghij"
for index in range(len(s)):
    print (index)

0
1
2
3
4
5
6
7
8
9

### String formatting

In [287]:
#switch %s and %d with AI and 63
print('My name is %s ，age is %d'%('AI',63))

My name is AI ，age is 63

### Escape Sequence

In [261]:
s= "python\""
print(s)

python"

In [262]:
s= "python\\"
print(s)

python\

In [263]:
#\n (backslash n to start new line)
s= "python\nprogramming"
print(s)

python
programming

### **split**() function

In [288]:
students= 'Ahmed is student'

In [290]:
list_=students.split()

In [291]:
list_

['Ahmed', 'is', 'student']

In [292]:
list_[0]

'Ahmed'

In [42]:
# split
# str.split(str1)：split a string by str1
s = "python is cool"
s.split()

['python', 'is', 'cool']

In [43]:
s = "python_is_cool"
s.split('_')

['python', 'is', 'cool']

## join

In [44]:

# str.join(iter)：join the string by iner
"--".join(['python','is','cool'])

'python--is--cool'

In [45]:
# str.join(iter)：join the string by iner
" ".join(['python','is','cool'])

'python is cool'

In [46]:
# replace
# str.replace(str1,str2)：replace the str1 by str2
s = 'python'
s.replace('py','ABC')

'ABCthon'

## str.upper()
## str.lower()

In [47]:
# lower and upper
# str.lower()：lower a string
# str.upper()：upper a string
s = "PYthon"
print(s.lower())
print(s.upper())

python
PYTHON

In [48]:
animals =['cat','dog','bird']
for i,x in enumerate (animals):
  print(i,x)

0 cat
1 dog
2 bird

In [49]:
for x in (animals):
  print(x)

cat
dog
bird

In [50]:
# List sort
list1 = [ 12, 45 , 32 ,55]
list1.sort()

In [51]:
list1

[12, 32, 45, 55]

In [52]:
# list.reverse()
list1.reverse()

In [53]:
l =[[1,3],[4,5]]
l[1][0]

4

In [54]:
l =[[1,3,5,7,9,3,0],[4,5,66,2,9,0,0]]
l[1][0]

4

## **Sets {}**
- sets not orderd and not indexed
- set slicing can't be done
- i can't use it in lists  , and dictionaries use only immutable data type
- items in set should be unique

In [55]:
#sets not orderd and not indexed
My_set1={"xx" , "tt" , 1000}
My_set2 = set(['Prince','Techs'])

In [56]:
My_set1

{1000, 'tt', 'xx'}

In [57]:
My_set2

{'Prince', 'Techs'}

In [302]:
#My_set1[0]  #Error because sets not indexed

In [59]:
#i can't use it in lists  , tuples , dictinaries
#My_set1={"xx" , "tt" , 1000,[1,2]}    #Error because ther's set in the list

In [60]:
My_set1={"xx" , "tt" , 1000,(1,2)}  #accept tuples because it's immutable

In [61]:
My_set1

{(1, 2), 1000, 'tt', 'xx'}

In [62]:
#asked if 1000 in the set
1000 in My_set1

True

In [63]:
len(My_set1)

4

In [64]:
#set.remove(obj)：removes an element from a set
My_set1.remove(1000)

In [65]:
1000 in My_set1

False

In [66]:
My_set1.add(4)

In [67]:
My_set1

{(1, 2), 4, 'tt', 'xx'}

In [68]:
My_set3={"Eman", 1 , "Cs" , "python" , "Cs" , 1}

In [69]:
My_set3

{1, 'Cs', 'Eman', 'python'}

In [70]:
#Clear set
My_set3.clear()

In [71]:
My_set3

set()

### ***copy***()

In [72]:
# data assignment
a=[1,2,3,[4,5]]
b=a   # assign a to b
b[0]=99
print(a)

[99, 2, 3, [4, 5]]

In [303]:
# data assignment
a=[1,2,3,[4,5]]
b=a.copy()   # assign a to b
b[0]=99
print(a)

[1, 2, 3, [4, 5]]

In [304]:
print(b)

[99, 2, 3, [4, 5]]

In [74]:
#How to access List in the list
a[3][1]=40
print(a)

[1, 2, 3, [4, 40]]

In [308]:

"""
khkjfdhglkhfkjhfkj
vbkjdfhglkj
mnvbkjfgn
"""

'\nkhkjfdhglkhfkjhfkj\nvbkjdfhglkj\nmnvbkjfgn\n'

### ***Nested Loops***

In [75]:
people=["sama","Ahmed","Mohammed","Hussam"]
skills=['python' , 'cs','c']

In [76]:
for name in people:
  print(f"{name} skill is : ")
  for skill in skills:
    print(skill)

sama skill is :
python
cs
c
Ahmed skill is :
python
cs
c
Mohammed skill is :
python
cs
c
Hussam skill is :
python
cs
c

In [314]:
#write a multiplication table
for i in range (1,10):
# a outer loop
  for j in range(1,i+1):   # a inner loop
# string formatting
    print("%d X %d= %d \n" %(i,j,j*i),end=" ")
print()

1 X 1= 1
 2 X 1= 2
 2 X 2= 4
 3 X 1= 3
 3 X 2= 6
 3 X 3= 9
 4 X 1= 4
 4 X 2= 8
 4 X 3= 12
 4 X 4= 16
 5 X 1= 5
 5 X 2= 10
 5 X 3= 15
 5 X 4= 20
 5 X 5= 25
 6 X 1= 6
 6 X 2= 12
 6 X 3= 18
 6 X 4= 24
 6 X 5= 30
 6 X 6= 36
 7 X 1= 7
 7 X 2= 14
 7 X 3= 21
 7 X 4= 28
 7 X 5= 35
 7 X 6= 42
 7 X 7= 49
 8 X 1= 8
 8 X 2= 16
 8 X 3= 24
 8 X 4= 32
 8 X 5= 40
 8 X 6= 48
 8 X 7= 56
 8 X 8= 64
 9 X 1= 9
 9 X 2= 18
 9 X 3= 27
 9 X 4= 36
 9 X 5= 45
 9 X 6= 54
 9 X 7= 63
 9 X 8= 72
 9 X 9= 81

In [70]:
def sum_(a,b):
    return a+b
def mul(a,b):
    return a*b

In [71]:
mul(2,4)

8

In [319]:
#sum_(1,2,7)

In [323]:
def f(a=128, b=2, *args, **kwargs):
    return a+b+args

In [324]:
f(1,3,4)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [78]:
#*args (Non-Keyword Arguments)
#**kwargs (Keyword Arguments)

def f(a=128, b=2, *args, **kwargs):
  print("a: %d"%(a))
  print("b: %d"%(b))
  print("args:",args)
  for key,value in kwargs.items():
    print("%s is %s"%(key,value))
  print()

In [79]:
# default arguments
f()

a: 128
b: 2
args: ()

In [80]:
f(0,4)

a: 0
b: 4
args: ()

In [81]:
f(1,2,3,4,5)

a: 1
b: 2
args: (3, 4, 5)

In [82]:
f(1,2, cat='animal', dog='animal', cheese='food')

a: 1
b: 2
args: ()
cat is animal
dog is animal
cheese is food

## Anonymous function

In [325]:
sum_(2,4)

6

In [83]:
fun_sum = lambda x,y : x+y

In [84]:
fun_sum(4,6)

10

## Higher-order function

In [85]:
my_list=[22,56,0,9,44,9]
def add_two(x):
    return x+2

In [86]:
#map
result = list(map(add_two,my_list))

In [87]:
result

[24, 58, 2, 11, 46, 11]

In [88]:
print(list(map(lambda x:x*x,my_list)))

[484, 3136, 0, 81, 1936, 81]

In [89]:
#filter
print(list(filter(lambda x:x%2==0 ,my_list)))

[22, 56, 0, 44]

In [326]:
array_nums1 = [1, 2, 3, 5, 7, 8, 9, 10]
array_nums2 = [1, 2, 4, 8, 9]

result = list(filter(lambda x: x in array_nums1, array_nums2)) 
print ("\nIntersection of the said arrays: ",result)

Intersection of the said arrays:  [1, 2, 8, 9]

In [328]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
days = filter(lambda day: day if len(day)==6 else '', weekdays)
for d in days:
    print(d)

Monday
Friday
Sunday

In [331]:
days

In [330]:
nums1 = [1, 2, 3]
nums2 = [4, 5, 6]
print("Original list:")
print(nums1)
print(nums2)
result = map(lambda x, y: x + y, nums1, nums2)
print("\nResult: after adding two list")
print(list(result))

Original list:
[1, 2, 3]
[4, 5, 6]

Result: after adding two list
[5, 7, 9]

## ***Object Oriented Programming***

In [72]:
class Dog:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
    def sit(self):
        print(self.name.title()+' '+"is now sitting")
    def run(self):
        print(self.name.title()+' '+"is now running")

In [74]:
my_dog=Dog('Husky',3)

In [75]:
my_dog.name

'Husky'

In [76]:
my_dog.age

3

In [78]:
my_dog.name='lala'

In [79]:
my_dog.name

'lala'

In [81]:
my_dog

In [95]:
my_dog.sit()
my_dog.run()

Lala is now sitting
Lala is now running

In [80]:
#add new data to the object
my_dog.food='cat food'
print(my_dog.food)

cat food

In [83]:
#Encapsulation
class SimpleCounter:
    __secretCount=0   # private variable
    publicCount =0      # public variable
    def count(self):
        self.__secretCount+=100
        print(self.__secretCount)

In [84]:
counter= SimpleCounter()
counter.count()
print(counter.publicCount)

100
0

In [87]:
counter.publicCount =8

In [88]:
counter.publicCount

8

In [85]:
#counter.__secretCount      #Erroe beacuse it's private variable

AttributeError: 'SimpleCounter' object has no attribute '__secretCount'

In [89]:
#Inheritance
class Parent:  # parent class
    parentAttr =100
    def __init__(self):
        print("instantiating parent")
    def parentMethod(self):
        print('parent method')
        
    def setAttr(self,attr):
        Parent.parentAttr=attr
    
    def getAttr(self):
        print("parent attribute: ",Parent.parentAttr)

In [90]:
class Child( Parent):  # child class
    def __init__(self):
        print("instantiating child")
        
    def childMethod(self):
        print('child method')
        
    def getAttr(self):
        super().getAttr()
        print("child says hello!")

In [97]:
c =Child()        # instantiate child

instantiating child

In [92]:
c.childMethod()   # call child method

child method

In [93]:
c.parentMethod()  # call parent method

parent method

In [94]:
c.setAttr(200)    # set attribute (parent method)

In [96]:
c.getAttr()       # call attribute (parent method)

parent attribute:  200
child says hello!

In [10]:
#polymorphism
print(len("hello python!"))
print(len([1,2,3,4,5]))

13
5

In [99]:
class Student:
    num=0
    def __init__(self, name , age=0, courses='none'):
        self.__name=name        #private variable
        self.__age=age          #private variable
        self.courses=courses    #puplic variable
        Student.num+=1
        
    def getname(self):
        return self.__name
  
    def set_name (self, new_name):
        self.__name= new_name

    def getage(self):
        return self.__age
  
    def set_age (self, new_age):
        self.__age= new_age

    def describe(self):
        print('my name is'+' '+self.__name +' '+'and my age is'+' '+str(self.__age))
  
    def is_old (self,number):
        if self.__age >= number:
            print('student is old')
        else:
            print('student is not old')

In [100]:
student1=Student('Ahmed', 20, 'data science')
student2 = Student('fwzy' , 21,'math')

In [101]:
student1.getname()

'Ahmed'

In [102]:
Student.num

2

In [103]:
student1.describe()

my name is Ahmed and my age is 20

In [16]:
student1.is_old(21)

student is not old

In [104]:
student1.set_name('ee')

In [105]:
student1.getname()

'ee'

## **Regular expression**
- searching for spesific pattern
- ( \s )     --> spaces
- ( \d )     --> digits
- ( \W )     --->symbols
- [abc]   ---> Matches a or b or c. 
- ([a-zA-z]) --> character
- [A-Za-z0-9] --> alphabet and digits
- ( * ) -->  Checks if the preceding character appears zero or more times starting from that position.
- ( + ) -->  Checks if the preceding character appears one or more times starting from that position.
- ( ? ) --> Checks if the preceding character appears exactly zero or one time starting from that position.
- { x } --> repeat x time
- {x, } --> repeat at least x time or more
- { x , y } --> Repeat at least x times but no more than y times

In [19]:
# import re module
import re

- ***The match()  function returns a match object if the text matches the pattern. Otherwise, it returns None.***
- r --> raw string literal : String stored as they appear.

In [24]:
pattern = r"Cookie"
sequence = "Cookie"
if re.match(pattern, sequence):
    print("Match!")
else:
    print("Not a match!")

Match!

In [22]:
pattern = "Cookie"
sequence = "Hi Cookie"
if re.match(pattern, sequence):
    print("Match!")
else:
    print("Not a match!")

Not a match!

In [25]:
# span() method returns a tuple containing starting and ending index of the matched string.

print(re.match('www','www.huawei.com').span())        # match from start of the text
print(re.match('com','www.huawei.com'))               # cannot match from middel of the text

(0, 3)
None

- ***search ( )*** function, you scan through the given string/sequence, looking for the first location where the regular expression produces a match. 
-  ***group ( )*** function returns the string matched by the re.

In [28]:
re.search(r'Co.k.e', 'Cookie').group()

'Cookie'

In [36]:
# ^ -> A caret. Matches the start of the string.
re.search(r'^Eat', "Eat cake!").group()

'Eat'

In [37]:
# $ -> Matches the end of string.
re.search(r'cake$', "Cake! Let's eat cake").group()

'cake'

In [31]:
#The re.search() function returns a match object in case a match is found.
line='cat is smarter than fish'
searchObj=re.search(r'(.*) are smarter than (.*)',line)

In [34]:
#re.search(pattern, text)
line="Cats are smarter than fish and rr"
searchObj=re.search('(.*) are smarter than (.*) and (.*)',line)
if searchObj:
    print("searchObj.group() : ",searchObj.group())
    print("searchObj.group(1) : ",searchObj.group(1))
    print("searchObj.group(2) : ",searchObj.group(2))
else:
    print("Nothing found!!")

searchObj.group() :  Cats are smarter than fish and rr
searchObj.group(1) :  Cats
searchObj.group(2) :  fish

In [35]:
searchObj.group()

'Cats are smarter than fish and rr'

In [38]:
re.search(r'[0-6]', 'Number: 5').group()

'5'

In [40]:
# +
re.search(r'Co+kie', 'Cooookie').group()

'Cooookie'

In [41]:
# *
re.search(r'Ca*o*kie', 'Cookie').group()

'Cookie'

In [44]:
re.search(r'Ca*o*kie', 'Cooooookie').group()

'Cooooookie'

In [45]:
# ?
re.search(r'Colou?r', 'Color').group()

'Color'

In [46]:
re.search(r'\d{9,10}', '0987654321').group()

'0987654321'

In [47]:
# re.compile(pattern).search(text) is equivalent to re.search(pattern, text)

pattern =re.compile(r'\d+') # match at least one digit
n=pattern.match('one12twothree34four') # match from start. no match
print(n)

None

In [48]:
# search from start, found 12
m=pattern.search('one12twothree34four')
print(m)
print(m.group())

<re.Match object; span=(3, 5), match='12'>
12

In [49]:
phone="2020-0101-000 # this is a phone number"    # remove the number sign (#) and everything behine it

#The re.sub() function is used to replace occurrences of a particular sub-string with another sub-string.
num=re.sub(r'#.*',"",phone)
print("phone number: ",num)

# remove everything that is not digit
num= re .sub(r'\D',"",phone)
print("phone number : ",num)

phone number:  2020-0101-000
phone number :  20200101000

- ***findall( )*** function returns a list of strings containing all matches of the specified pattern.

In [50]:
#The re.findall() function returns a list of strings containing all matches of the specified pattern.
# find all the numbers in the text

text= "Tomorrow is 2022/2/31, today is 2022/2/30"
num1=re.findall(r'\d+',text)

print(num1)

['2022', '2', '31', '2022', '2', '30']

In [51]:
# find all the alphabets in the text
s=re.findall(r'[a-zA-z]+',text)
print(s)

['Tomorrow', 'is', 'today', 'is']

In [52]:
# find all the symbols in the text
s =re.findall(r'\W+',text)
print(s)

[' ', ' ', '/', '/', ', ', ' ', ' ', '/', '/']

In [53]:
# find all the alphabets and digits
s=re.findall(r'[A-Za-z0-9]+',text)
print(s)

['Tomorrow', 'is', '2022', '2', '31', 'today', 'is', '2022', '2', '30']

In [54]:
# find email address
text="my email address is: abc456@def.com"
s=re.findall(r'[A-Za-z0-9]+@[A-Za-z0-9]+\.com',text)
print(s)

['abc456@def.com']

In [55]:
# find url
text="Python home page: https://www.python.org"
s=re.findall(r'https?://.*',text)
print(s)

['https://www.python.org']

In [56]:
# find every div tag
html="aa<div>test1</div>bb<div>test2</div>cc "
res=re.search("<div>.*</div>",html)
print(res.group())

<div>test1</div>bb<div>test2</div>

## Errors and Exceptions

In [125]:
# Python can't compute 1/0
# print(1/0)   ZeroDivisionError: division by zero

In [58]:
#print(1/0)

ZeroDivisionError: division by zero

In [59]:
try:
    print(1/0)
except Exception as e:
    print(e)

division by zero

In [61]:
try:
  age=int(input("inter your age: "))
except:
  print('This not intger')

else:
  print ('good , number')

finally:
  print("Python is cool")

inter your age: 5
good , number
Python is cool

In [63]:
try:
  age=int(input("inter your age: "))
  print ('good , number')
except:
  print('This not intger')

inter your age: _
This not intger

In [65]:
a = int(input())
try:
  b =[i for i in range(int(a))]                # if a<5, there will be an error
  print(b[4]/0)

except ZeroDivisionError:
  print("division by zero")

except ValueError:
  print("ValueError")

except IndexError:
  print("list index out of range")

finally:
  print("Python is cool")

2
list index out of range
Python is cool

In [66]:
a= input()

3

In [67]:
b =[i for i in range(int(a))]                # if a<5, there will be an error
print(b)
#a = [i for i in range 5]

[0, 1, 2]

In [68]:
x=[i for i in range(5)]

In [69]:
print(x)

[0, 1, 2, 3, 4]