- add function to linkedList --> return linked list size, print data in linked list.
- get a copy from linked list

In [ ]:
class Node:
  def __init__(self, data=None ,next_node=None):
    self.data =data
    self.next_node=next_node

In [ ]:
class linkedList:
  def __init__(self):
    self.head= None

  def add_begin(self,data):
    new_node=Node(data)
    new_node.next_node=self.head
    self.head =new_node


  def add_end(self,data):
    new_node=Node(data)

    if self.head is None:           #that mean this first Node
      self.head=new_node
    else:
      n= self.head

      while n.next_node is not None:
        n=n.next_node
      n.next_node=new_node

From 2 numpy arrays,get the matched elements

Write a Pandas program to calculate the number of characters in each word in a series.


1. count the number of rows and columns of a DataFrame
2. select the rows where the score is missing, i.e. is NaN.
3. calculate the mean score for each different student in DataFrame.

In [3]:
import pandas as pd
import numpy as np

In [4]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
              'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
              'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
              'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)

In [5]:
df.head()

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no

### numpy array and  matrix
Multiply a 5x3 matrix by a 3x2 matrix (real matrix product)

 Create a 5x5 matrix with row values ranging from 0 to 4

Slice elements from the beginning to index 4

In [21]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7])

Using filter() and list() functions and .lower() method filter all the vowels in a any string.
- Example :  input-->"Hello"   output-->[h,e,o]

Add two given lists using map and lambda

In [6]:
nums1 = [1, 2, 3]
nums2 = [4, 5, 6]

Match a string that contains only upper and lowercase letters, numbers, and underscores
<span style="color:white"> patterns = '^[a-zA-Z0-9_]*$'</span>

In [19]:
import re
def text_match(text):
        patterns = ''           #write a pattern here
        if re.search(patterns,  text):
                return 'Found a match!'
        else:
                return('Not matched!')

In [20]:
#test with
print(text_match("The quick brown fox jumps over the lazy dog."))
print(text_match("Python_Exercises_1"))

Not matched!
Found a match!

find email address from text

In [14]:
text="my email address is: abc456@def.com jgshjgdffff"
s=
print(s)